name: CI

concurrency:
  group: '${{ github.workflow }}-${{ github.head_ref || github.ref }}'
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  test:
    name: Test (Node ${{ matrix.node }}, ESLint ${{ matrix.eslint }})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        node:
          - 20
          - 22
          - 24

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install Dependencies
        uses: ./.github/actions/install-dependencies
        with:
          node-version: ${{ matrix.node }}

      - name: Build
        run: pnpm run build

      - name: Run test
        run: pnpm run test

  check:
    name: Code check (${{ matrix.script }})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        script:
          - 'lint'
          - 'format'
        include:
          - needsBuild: true
            script: 'lint'

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install Dependencies
        uses: ./.github/actions/install-dependencies

      - name: Build
        if: ${{ matrix.needsBuild }}
        run: pnpm build

      - name: Run ${{ matrix.script }}
        run: pnpm run ${{ matrix.script }}

  ci-ok:
    name: CI OK
    runs-on: ubuntu-latest
    if: always()
    needs:
      - test
      - check
    steps:
      - name: Exit with error if some jobs are not successful
        run: exit 1
        if: ${{ always() && (contains(needs.*.result, 'failure') || contains(needs.*.result, 'skipped') || contains(needs.*.result, 'cancelled')) }}
